@model WebApplication1.Models.Storage

@{
    ViewData["Title"] = "Ваш склад";
}

<head>
    Заберите заказы на складе
</head>

<body>
    <div align = "center" style="width: 50%;">
        <div>
            <span class="badge bg-primary">Primary</span>
            <span class="badge bg-secondary">Secondary</span>
        </div>
        




    </div>



</body>