@model MapCourier.Models.Order

@{
    ViewData["Title"] = "Create";
}
<div class="diva">
    <h1>Создание заказа</h1>
</div>


<hr />
<div class="diva">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form__group">
                    <input id = "orderInput" asp-for="address" class="input_form" placeholder="Адрес" required />
                    <span asp-validation-for="address" class="text-danger"></span>
                    <label for="orderInput" class="label_form">Адрес</label>
                </div>
                <div>
                    <label asp-for="TimeFrameBeginning" class="control-label"></label>
                    <input asp-for="TimeFrameBeginning" class="input_form" />
                    <span asp-validation-for="TimeFrameBeginning" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="TimeFrameEnding" class="control-label"></label>
                    <input asp-for="TimeFrameEnding" class="input_form" />
                    <span asp-validation-for="TimeFrameEnding" class="text-danger"></span>
                </div>
                <div class="diva">
                    <button type = "button" id="buttonOrder" class="floating-button">Найти адрес</button>
                </div>
            </div>
            
            <div class="form__group">
                <input id = "inputLong" asp-for="Longitude" class="input_form" placeholder="Адрес - координата долготы
" readonly/>
                @*<span asp-validation-for="Longitude" class="text-danger"></span>*@
                <label asp-for="Longitude" class="label_form"></label>
            </div>
            <div class="form__group">
                <input id = "inputLat" asp-for="Latitude" class="input_form" placeholder="Адрес - координата широты" readonly/>
                <label asp-for="Latitude" class="label_form"></label>
               @* <span asp-validation-for="Latitude" class="text-danger"></span>*@
            </div>
            <div class="form__group">
                
                <input id = "inputDeliver" asp-for="status" class="input_form" placeholder="Статус заказа" readonly/>
                <label asp-for="status" class="label_form"></label>
               @* <span asp-validation-for="status" class="text-danger"></span>*@
            </div>
            <div class="divb">
                <input type="submit" value="Создать" class="floating-button" />
                <a asp-action="Index" class="floating-button">Назад</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("buttonOrder").addEventListener("click", collectData);
        async function collectData() {
            var requestURL = 'https://nominatim.openstreetmap.org/search/'+document.getElementById("orderInput").value+'?format=jsonv2&limit=1'
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            request.onload = function () {
                data = request.response;
                var data_address = JSON.parse(JSON.stringify(data));
                document.getElementById("orderInput").value = data[0].display_name;
                document.getElementById("inputLong").value = data[0].lat;
                document.getElementById("inputLat").value = data[0].lon;
                document.getElementById("inputDeliver").value = "waiting";
            }
        }
    </script>
}
