@model MapCourier.Models.Order

@{
    ViewData["Title"] = "Edit";
}
<div class="diva">
    <h1>Изменение заказа</h1>
</div>

<hr />
<div class="diva">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form__group">
                <input asp-for="address" class="input_form" />
                <label asp-for="address" class="label_form"></label>
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Longitude" class="input_form" />
                <label asp-for="Longitude" class="label_form"></label>
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Latitude" class="input_form" />
                <label asp-for="Latitude" class="label_form"></label>
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="status" class="input_form" />
                <label asp-for="status" class="label_form"></label>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="TimeFrameBeginning" asp-format="{0:yyyy-MM-ddThh:mm}" class="input_form" />
                <label asp-for="TimeFrameBeginning" class="label_form"></label>
                <span asp-validation-for="TimeFrameBeginning" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="TimeFrameEnding" asp-format="{0:yyyy-MM-ddThh:mm}" class="input_form" />
                <label asp-for="TimeFrameEnding" class="label_form"></label>
                <span asp-validation-for="TimeFrameEnding" class="text-danger"></span>
            </div>
            <div class="divb">
                <input type="submit" value="Сохранить" class="floating-button" />
                <a asp-action="Index" class="floating-button">Назад</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
