@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="header_list">
        <a  class="nav-link text-dark, header_check" asp-area="Identity" asp-page="/Account/Manage/Index" >@*Hello @User.Identity?.Name!*@
            <img src="/Images/Icons/Profile.svg" class="header_icons"/>
            <div class="header_text">Профиль</div>
        </a>
    </li>
    <li class="header_list">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark, header_check">
                <img src="/Images/Icons/logout.svg" class="header_icons"/>
                <div class="header_text">Выход</div>
            </button>
        </form>
        </li>
        if (User.IsInRole("Admin"))
            {
        <li class="header_list">
            <a class="nav-link text-dark, header_check" asp-area="Identity" asp-page="/Account/Register">
                <img src="/Images/Icons/add-user.svg" class="header_icons">
                <div class="header_text">Регистрация</div>
                <img>
            </a>
            </li>
        }
        if (User.IsInRole("Operator"))
        {
            <li class="header_list">
                <a class="nav-link text-dark, header_check" asp-controller="Operator" asp-action="Index">
                <img src="/Images/Icons/add-user.svg" class="header_icons">
                <div class="header_text">Страница оператора</div>
                <img>
            </a>
        </li>
        }
}
else
{
    
    <li class="nav-item">
        <a class="nav-link text-dark, header_check" asp-area="Identity" asp-page="/Account/Login">
            <img src="/Images/Icons/login.svg" class="header_icons"/>
            <div class="header_text">Вход</div>
        </a>
    </li>
}
</ul>
