@model List<Delivery>

@{
    ViewData["Title"] = "Выбор заказа";
}
<head>
Выбор заказов
</head>

<body>

<div class="card" style="width: 18rem;" align="center">
  <div class="card-header">
    Featured
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>

  <div>
  <button class="btn btn-primary">
            Проверка
        </button>
  <button class="btn btn-primary">
            Проверка2
  </button>
    
  </div>
  </div>


<form method="post" action="~/Work/Index">
    <input type="text" id = "lat" name="latitude" hidden/><br />
    <input type="text" id = "lon" name="longitude" hidden/><br />
    <input type="submit" value="Get orders" />
</form>



  <form method="post" action="~/Work/RedirectToPickup">
    <input type="submit" value="Accept orders" />
</form>

</body>


  @section Scripts {
  <script>
      
      if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
      }
      function showPosition(position) {
      document.getElementById("lat").value = position.coords.latitude;
      document.getElementById("lon").value = position.coords.longitude;
      }
      
  </script>
  }