@model MapCourier.Models.Order

@{
    ViewData["Title"] = "Выбор заказа";
}
<head>
Выбор заказов
</head>

<body>

<div class="card" style="width: 18rem;" align="center">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div>
  <button class="btn btn-primary">
            Проверка
        </button>
  <button class="btn btn-primary">
            Проверка2
  </button>
    
  </div>
  </div>
  @section Scripts {
  <script>
      document.getElementById("checkButton").addEventListener("click", collectData);
      async function collectData() {
      if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
      }
      function showPosition(position) {
      document.getElementById("lat").value = position.coords.latitude;
      document.getElementById("lon").value = position.coords.longitude;
      }
      }
  </script>
  }
  <button type = "button" id = "checkButton"> Get Coords </button>

<form method="post" action="~/Work/Index">
    <input type="text" id = "lat" name="latitude" /><br />
    <input type="text" id = "lon" name="longitude" /><br />
    <input type="submit" value="Check" />
</form>



  <form method="post" action="~/Work/RedirectToPickup">
    <input type="submit" value="Redirect" />
</form>

</body>