@model MapCourier.Models.Order

@{
    ViewData["Title"] = "Выбор заказа";
}
<head>
Выбор заказов
</head>

<body>

<div class="card" style="width: 18rem;" align="center">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div>
  <button class="btn btn-primary">
            Проверка
        </button>
  <button class="btn btn-primary">
            Проверка2
  </button>
    
  </div>
  </div>

</body>