@model MapCourier.Models.Order

@{
    ViewData["Title"] = "Выбор заказа";
}

<body>

<div class="diva">
  <div class="card-header">
    Выбор заказов
  </div>
  <ol class="square">
    <li>Заказ</li>
    <li>Заказ</li>
    <li>Заказ</li>
  </ol>
  <div>
  <button class="floating-button">
            Проверка
        </button>
  <button class="floating-button">
            Проверка2
  </button>
    
  </div>
  </div>

</body>