@model List<Order>?

@{
    ViewData["Title"] = "Выбор заказа";
}

<body>

<div class="diva">
  <div class="card-header">
    Выбор заказов
  </div>
  @if (Model!=null && Model.Any())
        {
            <ol class="square">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <li>@Model[i].address</li>}
            </ol>
        }
        <div class="divb">
  <form method="post" action="../Work/Index">
    <input type="text" id = "lat" name="latitude" hidden/>
    <input type="text" id = "lon" name="longitude" hidden/>
    <input id = "getOrders" class="floating-button" type="submit" value="Get orders" hidden/>
</form>
  <form method="post" action="~/Work/RedirectToPickup">
    <input id = "startDelivery" class="floating-button" type="submit" value="Accept orders" />
</form> 
  </div>
  </div>
</body>


 @section Scripts {
     @if (Model!=null && Model.Any()){
         <script>
         document.getElementById("getOrders").hidden = true;
          </script>
     }
     else {
         <script>
     document.getElementById("startDelivery").hidden = true;
     </script>
     }
 <script>
      if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
      }
      function showPosition(position) {
      document.getElementById("lat").value = position.coords.latitude;
      document.getElementById("lon").value = position.coords.longitude;
      document.getElementById("getOrders").hidden = false;
      }
 </script>
 }