@model MapCourier.Models.Storage

@{
    ViewData["Title"] = "Create";
}
<div class="diva">  
    <h1>Create Storage</h1>
</div>



<hr />
<div class="diva">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="storageName" class="control-label"></label>
                <input asp-for="storageName" class="form-control" />
                <span asp-validation-for="storageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="storageAddress" class="control-label"></label>
                <div>
                    <input id="storageInput" asp-for="storageAddress" class="form-control" />
                    <span asp-validation-for="storageAddress" class="text-danger"></span>
                </div>
                <div class="diva">
                     <button type="button" id="buttonStorage" class="floating-button">Find the address</button>
                    
                </div>
                </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input id = "inputLong" asp-for="Longitude" class="form-control" readonly/>
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input id = "inputLat" asp-for="Latitude" class="form-control" readonly/>
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="divb">
                <input type="submit" value="Create" class="floating-button" />
                <a asp-action="Index" class="floating-button">Back to List</a>
            </div>
        </form>
    </div>
</div>

<

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("buttonStorage").addEventListener("click", collectData);
        async function collectData() {
            var requestURL = 'https://nominatim.openstreetmap.org/search/'+document.getElementById("storageInput").value+'?format=jsonv2&limit=1'
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            request.onload = function () {
                data = request.response;
                var data_address = JSON.parse(JSON.stringify(data));
                document.getElementById("storageInput").value = data[0].display_name;
                document.getElementById("inputLong").value = data[0].lat;
                document.getElementById("inputLat").value = data[0].lon;
            }
        }
    </script>
}
