@model MapCourier.Models.Storage

@{
    ViewData["Title"] = "Create";
}
<div class="diva">  
    <h1>Создание склада</h1>
</div>



<hr />
<div class="diva">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form__group">
                <input asp-for="storageName" class="input_form" placeholder="Название склада" required />
                <span asp-validation-for="storageName" class="text-danger"></span>
                <label for="storageName" class="label_form">Название склада</label>
            </div>
            <div class="form__group">
                      <input id="storageInput" asp-for="storageAddress" class="input_form" placeholder="Адрес" required />
                      <span asp-validation-for="storageAddress" class="text-danger"></span>
                      <label for="storageInput" class="label_form">Адрес</label>
                <div class="diva">
                     <button type="button" id="buttonStorage" class="floating-button">Найти адрес</button>  
                </div>
                </div>
            <div class="form__group">
                <input id = "inputLong" asp-for="Longitude" class="input_form" placeholder="Адрес - координата долготы" readonly/>
                <label asp-for="Longitude" class="label_form"></label>
            </div>
            <div class="form__group">
                <input id = "inputLat" asp-for="Latitude" class="input_form" placeholder="Адрес - координата широты" readonly/>
                <label asp-for="Latitude" class="label_form"></label>
            </div>
            <div class="divb">
                <input type="submit" value="Создать" class="floating-button" />
                <a asp-action="Index" class="floating-button">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("buttonStorage").addEventListener("click", collectData);
        async function collectData() {
            var requestURL = 'https://nominatim.openstreetmap.org/search/'+document.getElementById("storageInput").value+'?format=jsonv2&limit=1'
            var request = new XMLHttpRequest();
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            request.onload = function () {
                data = request.response;
                var data_address = JSON.parse(JSON.stringify(data));
                document.getElementById("storageInput").value = data[0].display_name;
                document.getElementById("inputLong").value = data[0].lat;
                document.getElementById("inputLat").value = data[0].lon;
            }
        }
    </script>
}
