@model MapCourier.Models.Storage

@{
    ViewData["Title"] = "Edit";
}
<div class="diva">
    <h1>Изменение склада</h1>
</div>



<hr />
<div class="diva">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StorageID" />
            <div class="form__group">
                <input asp-for="storageName" class="input_form" />
                <label asp-for="storageName" class="label_form"></label>
                <span asp-validation-for="storageName" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="storageAddress" class="input_form" />
                <label asp-for="storageAddress" class="label_form"></label>
                <span asp-validation-for="storageAddress" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Longitude" class="input_form" />
                <label asp-for="Longitude" class="label_form"></label>
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form__group">
                <input asp-for="Latitude" class="input_form" />
                <label asp-for="Latitude" class="label_form"></label>
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="divb">
                <input type="submit" value="Сохранить" class="floating-button" />
                <a asp-action="Index" class="floating-button">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
